<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="mytree">
		<el-form :inline="true"
			:model="formInline"
			class="demo-form-inline">
			<el-form-item>
		    <el-input
					v-model="formInline.searchKey"
					placeholder="查询关键字"></el-input>
		  </el-form-item>
			<el-form-item>
		    <el-button type="primary" 
					@click="onSubmit">查询</el-button>
		  </el-form-item>
		</el-form>

    <el-input placeholder="页面过滤" v-model="filterText">
    </el-input>

    <el-tree 
			class="filter-tree" 
			:data="treeData"
			:props="props"
			:filter-node-method="filterNode"
			:default-expand-all="expandAll"
			node-key="id"
			:default-expanded-keys="expandedKeys"
			ref="tree">
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span :style="{'color':data.IsDir?'blue':'green'}">{{ data.name }}</span>
	      <span>
					<span style="color: DarkRed;">{{ data.Size }}</span>
		      <span style="color: LimeGreen;">{{ data.fsn }}</span>
		      <span style="color: blue;">{{ data.dsn }}</span>
      </span>
    </el-tree>
  </div>

</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  new Vue({
    el: '#mytree',
    data: {
			formInline: {
				searchKey: '',
			},
      filterText: '',
      treeData: [],
			props: {
        label: 'name',
        children: 'children',
      },
			expandAll: false,
			expandedKeys: [],
    },
    created() {
			// this.expandAll = true
			// this.expandedKeys = ['1psx7Qr9ahCgX6KUJwLJu2k07dqOnONc2']
      axios.get('/gdfs')
        .then((response) => {
          this.treeData = response.data;
          //console.log(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    watch: {
      filterText(val) {
        this.$refs.tree.filter(val);
      }
    },
    methods: {
			onSubmit() {
        console.log('submit!');
				axios.post('/query', {
						searchKey: this.formInline.searchKey,
          })
          .then(response => {
						data = response.data
            console.log('/query', data)
						this.expandedKeys = data.expandedKeys
						// this.expandAll = true
						// this.treeData = []
						this.treeData = data.treeData
						
          }).catch(function (error) {
			    	console.log(error);
			  	});
      },
      handleNodeClick(data) {
        console.log(data);
      },
      filterNode(value, data) {
        if (!value) return true;
				console.log('aaaa')
        return data.name.indexOf(value) !== -1;
      }
    }
  });
</script>

<style>
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
</style>
</html>