<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- import CSS -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
	<div id="mytree">
		<el-form :inline="true"
			:model="filterF"
			class="demo-form-inline"
			@submit.native.prevent>
			<el-row :gutter="20">
			<el-col :span="6">
			<el-form-item>
				<el-input
					id='searchInput'
					v-model="filterF.searchKey"
					autofocus
					placeholder="查询关键字"></el-input>
			</el-form-item>
			</el-col>
			<el-col :span="13">
				<el-form-item>
					<el-button :type=btnType
						native-type="submit"
						@click="onSubmit"
						:loading=isLoading
						icon="el-icon-search"
						circle
						 size="small"
						></el-button>
				</el-form-item>
				<el-form-item>
					<el-switch
						:width=30
						v-model="filterF.isRegex"
						inactive-text="R"
						active-color="#ff4949"
						inactive-color="#13ce66">
					</el-switch>
				</el-form-item>

				<el-form-item>
					<el-switch
						:width=30
						v-model="filterF.isFile"
						inactive-text="F"
						active-color="#ff4949"
						inactive-color="#13ce66">
					</el-switch>
				</el-form-item>
				<el-form-item>
					<el-switch
						:width=30
						v-model="filterF.isDir"
						inactive-text="D"
						active-color="#ff4949"
						inactive-color="#13ce66">
					</el-switch>
				</el-form-item>
				
				<el-form-item>
				<el-select 
					size='mini' 
					style="width: 72px"
					clearable 
					v-model="filterF.fileType" placeholder="FT">
			    <el-option
			      v-for="item in fileTypeOp"
			      :key="item.value"
			      :label="item.label"
			      :value="item.value">
			    </el-option>
  			</el-select>
				</el-form-item>

				<el-form-item>
				<el-select 
					size='mini' 
					style="width: 90px"
					clearable 
					v-model="filterF.sizeType" placeholder="   ST">
			    <el-option
			      v-for="item in sizeOp"
			      :key="item.value"
			      :label="item.label"
			      :value="item.value">
			    </el-option>
  			</el-select>
				</el-form-item>
				<el-form-item>
					<el-slider v-if="filterF.sizeType==1"
						style="margin-left:10px; width: 100px" 
						:max=20
						v-model="filterF.sizeMax"></el-slider>
    			<el-slider v-if="filterF.sizeType==2" 
						style="margin-left:10px; width: 100px" 
						:max=20
						v-model="filterF.sizeMin"></el-slider>

					<el-slider v-if="filterF.sizeType==3" 
						style="margin-left:10px; width: 100px" 
						:max=20
						range
						v-model="filterF.sizeRange"></el-slider>
				</el-form-item>
			</el-col>

			<el-col :span="2">
				<a href="/static/lazy.html">lazy</a>
			</el-col>

			<el-col :span="2">
				<span style="color: red;">{{restNum.fn}}</span>
			</el-col>
			<el-col :span="1">
				<span style="color: blue;">{{restNum.dn}}</span>
			</el-col>
			</el-row>
		</el-form>

		<el-tree 
			class="filter-tree" 
			:data="treeData"
			:props="props"
			:filter-node-method="filterNode"
			:default-expand-all="expandAll"
			node-key="id"
			:default-expanded-keys="expandedKeys"
			ref="tree">
			<span class="custom-tree-node" slot-scope="{ node, data }">
				<span :style="{'color':data.IsDir?'blue':'green'}">{{ data.name }}</span>
				<span>
					<span style="color: DarkRed;">{{ data.Size }}</span>
					<span style="color: LimeGreen;">{{ data.fsn }}</span>
					<span style="color: blue;">{{ data.dsn }}</span>
			</span>
		</el-tree>

		
		<el-row type="flex" class="row-bg" justify="space-between">
		  <el-col :span="6">
			<el-input placeholder="页面过滤" v-model="filterText">
			</el-input>
			</el-col>
			<el-col :span="6">
			</el-col>
		</el-row>
	</div>

</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
	new Vue({
		el: '#mytree',
		data: {
			filterF: {
				searchKey: '',
				isRegex: false,
				isDir: false,
				isFile: false,
				fileType: '',
				sizeType: '',
				sizeMin: 1,
				sizeMax: 5,
				sizeRange: [1, 5],
			},
			filterText: '',
			treeData: [],
			props: {
				label: 'name',
				children: 'children',
			},
			expandAll: false,
			expandedKeys: [],
			isLoading: false,
			btnType: 'primary',
			restNum: {},
			fileTypeOp: [{
				value: 'video/',
				label: '视频'
			}, {
				value: 'text/',
				label: '文本'
			},{
				value: 'image/',
				label: '图片'
			}, {
				value: 'audio/',
				label: '音频'
			}, {
				value: 'application/',
				label: '应用'
			}],
			sizeOp: [{
				value: 1,
				label: '最大值'
			}, {
				value: 2,
				label: '最小值'
			}, {
				value: 3,
				label: '范围'
			}],
		},
		created() {
			// this.expandAll = true
			axios.get('/gdfs')
				.then((response) => {
					this.treeData = response.data;
					//console.log(response.data);
				})
				.catch((error) => {
					console.log(error);
				});
		},
		watch: {
			filterText(val) {
				this.$refs.tree.filter(val);
			}
		},
		methods: {
			onSubmit() {
				this.isLoading = true
				this.btnType = 'danger'
				console.log('submit!');
				if (this.filterF.sizeType == 3){
					this.filterF.sizeMin = this.filterF.sizeRange[0]
					this.filterF.sizeMax = this.filterF.sizeRange[1]
				}
				let {
					searchKey,
					isRegex,
					isFile,
					isDir,
					fileType,
					sizeType,
					sizeMax,
					sizeMin,
					} = this.filterF
				axios.post('/query', {
					searchKey,
					isRegex,
					isFile,
					isDir,
					fileType,
					sizeType,
					sizeMax,
					sizeMin,
					})
					.then(response => {
						data = response.data
						console.log('/query', data)
						this.expandedKeys = data.expandedKeys
						// this.expandAll = true
						// this.treeData = []
						this.treeData = data.treeData
						this.restNum = data.num
						this.isLoading = false
						this.btnType = 'primary'
					}).catch(function (error) {
						console.log(error);
						this.isLoading = false
						this.btnType = 'primary'
					});
			},
			handleNodeClick(data) {
				console.log(data);
			},
			filterNode(value, data) {
				if (!value) return true;
				return data.name.indexOf(value) !== -1;
			}
		}
	});

	document.onkeyup = function (event) {
		var e = event || window.event || arguments.callee.caller.arguments[0];
		if (e && e.keyCode == 191) {
			//console.log(1111)
			let iputId = "searchInput"
			if (document.activeElement.id == iputId){
				//console.log(document.getElementById(iputId).value);
				document.getElementById(iputId).value = "";
				return;
			}
			document.getElementById(iputId).focus()
			document.getElementById(iputId).select();
			//alert('/');
		}
	};
</script>

<style>
	.custom-tree-node {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		padding-right: 8px;
	}
</style>
</html>